<% layout('../public/layout') %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <% include ../public/sidebar %>
      </div>
      <div class="col-md-9 col-sm-9">
        <div id="content">
          <table class="table">
            <tr>
              <th class="coursename">課程</th>
              <th class="catalog">類別</th>
              <th class="teacher">開課老師</th>
              <th class="semester">學期</th>
            </tr>
            <% for(var i in data){ %>
            <tr>
              <td class="coursename"><a href="post/<%= data[i].id %>"><%- data[i].course_name %></a></td>
              <td class="catalog"><%- data[i].catalog %></td>
              <td class="teacher"><%- data[i].teacher %></td>
              <td class="semester"><%- data[i].semester %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </div>
