<% layout('../public/layout') %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <% include ../public/sidebar %>
      </div>
      <div class="col-md-9 col-sm-9">
        <div id="content">
          <table class="table">
            <tr>
              <th class="coursename">課程名稱</th>
              <th class="catalog">類別</th>
              <th class="teacher">開課老師</th>
              <th class="semester">學期</th>
            </tr>
            <% if(data.length == 0 ){ %>
              <tr>
                <th class="h3 text-center" colspan="4">查無資料</th>
              </tr>
            <% }else{ %>
              <% for(var i in data){ %>
                <tr id="post-<%= data[i].id %>" class="post-row">
                  <td class="coursename" data-toggle="modal" data-target="#modal-<%= data[i].id %>">
                    <%- data[i].course_name %>
                  </td>
                  <td class="catalog">
                    <%- data[i].catalog %>
                  </td>
                  <td class="teacher">
                    <%- (data[i].teacher != 'null') ? data[i].teacher : '無' %>
                  </td>
                  <td class="semester">
                    <%- data[i].semester %>
                  </td>
                </tr>
                <div class="modal fade" id="modal-<%= data[i].id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h1 class="modal-title"><%- data[i].course_name %></h1>
                      </div>
                      <div class="modal-body">
                        <div class="partA">
                          <p><span class="title">類別:</span> <%- data[i].catalog %></p>
                          <p><span class="title">學期:</span> <%- data[i].semester %></p>
                          <p><span class="title">授課老師:</span> <%- data[i].teacher %></p>
                        </div>
                        <div class="partB">
                          <p><span class="title">修課心得:</span><br><%- data[i].comment %></p>
                        </div>
                        <div class="partA">
                          <p><span class="title">報告作業:</span><br><%- (data[i].report_hw != 'null') ?  data[i].report_hw : '無' %></p><br>
                          <p><span class="title">考試方式:</span><br><%- (data[i].exam_style != 'null') ?  data[i].exam_style : '無' %></p><br>
                          <p><span class="title">評分方式:</span><br><%- (data[i].score_style != 'null') ?  data[i].score_style : '無' %></p><br>
                          <p><span class="title">老師上課教材:</span><br><%- (data[i].course_need != 'null') ?  data[i].course_need : '無' %></p><br>
                          <p><span class="title">老師上課方式:</span><br><%- (data[i].course_style != 'null') ?  data[i].course_style : '無' %></p>
                          <% if(user && (user.id == data[i].user_id) ){ %>
                            <div class="btn btn-default delbtn" data-id="<%=data[i].id %>">刪除文章</div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
              <% } %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    /* DEL post ajax*/
    $('.delbtn').on('click',function(){
      console.log('Click');
      var postid = this.getAttribute("data-id");
      console.log(postid);
      $.ajax({
        url: '/post/'+postid,
        type: 'DELETE',
        success: function(response) {
          $('body').removeClass('modal-open');
          $('#post-'+postid).hide();
          $('#modal-'+postid).hide();
        }
      });
    });
  </script>
