<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h1 class="modal-title"><%- post.course_name %></h1>
</div>
<div class="modal-body">
  <div class="partA">
    <p><span class="post_title">類別:</span>
      <%- post.catalog %>
    </p>
    <p><span class="post_title">學期:</span>
      <%- post.semester %>
    </p>
    <p><span class="post_title">授課老師:</span>
      <%- post.teacher %>
    </p>
  </div>
  <div class="partB">
    <p><span class="post_title">修課心得:</span>
      <br>
      <%- post.comment %>
    </p>
  </div>
  <div class="partA">
    <p><span class="post_title">報告作業:</span>
      <br>
      <%- post.report_hw %>
    </p>
    <br>
    <p><span class="post_title">考試方式:</span>
      <br>
      <%- post.exam_style %>
    </p>
    <br>
    <p><span class="post_title">評分方式:</span>
      <br>
      <%- post.score_style %>
    </p>
    <br>
    <p><span class="post_title">老師上課教材:</span>
      <br>
      <%- post.course_need %>
    </p>
    <br>
    <p><span class="post_title">老師上課方式:</span>
      <br>
      <%- post.course_style %>
    </p>
    <div class="showbtnbar">
      <% if(user && (user.id == post.user_id) ){ %>
        <div class="small ui button delbtn"  data-id="<%= post.id %>">刪除文章</div>
      <% } %>
      <div class="small ui button reportbtn" data-id="<%= post.id %>">檢舉文章</div>
    </div>
  </div>
</div>
<script>
  /* Ajax DEL post */
  $('.delbtn').on('click',function(){
    console.log('Click');
    var postid = this.getAttribute("data-id");
    console.log(postid);
    $.ajax({
      url: '/post/'+postid,
      type: 'DELETE',
      success: function(response) {
        $('#post-modal .close').click();
        $('#post-'+postid).remove();
      }
    });
  });

  /* Ajax Report post */
  $('.reportbtn').on('click',function(){
    var postid = this.getAttribute("data-id");
    $.ajax({
      url: '/post/report/'+postid,
      type: 'POST',
      success: function(response) {
        if(response=="Success"){
          alert("檢舉成功!");
        }
        else if(response=="Already report"){
          alert("已經檢舉過囉");
        }
        else{
          alert("請先登入");
        }
      }
    });
  });
</script>
