<% layout('../public/layout') %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <% include ./sidebar %>
      </div>
      <div class="col-md-9 col-sm-9">
        <div id="content">
          <table class="table" id="course-table">
            <tr>
              <th class="course_name">課程名稱</th>
              <th class="department_name" >開課系所</th>
              <th class="teacher" >開課老師</th>
              <th class="class_time">時間</th>
            </tr>
            <% for(var i in courses){ %>
                <tr id="course-<%= courses[i].id %>" class="course-row" data-toggle="modal" data-target="#course-modal" data-id="<%= courses[i].id %>">
                  <td>
                    <%- courses[i].課程名稱 %>
                  </td>
                  <td>
                    <%- courses[i].系所名稱 %>
                  </td>
                  <td>
                    <%- courses[i].老師 %>
                  </td>
                  <td>
                    <%- courses[i].時間 %>
                  </td>
                </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="course-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
    </div>
  </div>

<script>

  /* Ajax show post */
  function ajaxshowcourse(id){
    var ajaxurl = '/course/'+ id;
    $.ajax({
      url:ajaxurl,
      type: 'GET',
      success: function(response) {
        $('#course-modal .modal-content').prepend(response);
        $('#course-modal').data('bs.modal').handleUpdate();
      }
    });
  }

  /* 綁定ajaxshowpost function */
  $('.course-row').on('click',function(){
    var courseid= this.getAttribute("data-id");
    ajaxshowcourse(courseid);
  });


  /* modal 關閉時清空 modal 內容 */
  $('#course-modal').on('hidden.bs.modal', function () {
    $('#course-modal .modal-content').empty();
  });

</script>
