<% layout('../public/layout') %>
<div class="ui stackable grid">
    <div class="four wide column">
      <% include ./sidebar %>
    </div>
    <div class="twelve wide column">
      <div id="content">
        <div class="ui toggle checkbox" style="margin-bottom: 10px">
            <input type="checkbox" name="public" checked="checked">
            <label>僅顯示有心得</label>
          </div>
        <table class="table" id="course-table">
          <tr>
            <th>加入</th>
            <th class="course_name">課程名稱</th>
            <th class="department_name" >開課系所</th>
            <th class="teacher" >開課老師</th>
            <th class="class_time">時間</th>
          </tr>
          <% for(var i = 0 ; i < courses.length && i < 50  ; i++){ %>
              <tr id="course-<%= courses[i].id %>" class="course-row">
                <td>
                  <i class="plus icon addcoursebtn" id="<%= courses[i].id %>" data-id="<%=courses[i].id %>"></i>
                </td>
                <td class="course_name" data-toggle="modal" data-target="#course-modal" data-id="<%= courses[i].id %>">
                  <%- courses[i].課程名稱 %>
                  <% if(courses[i].get_post != 0){%>
                    <span class="badge"><%- courses[i].get_post %></span>
                  <% }%>
                  <!-- <% if(courses[i].get_post != 0)%> <%- courses[i].get_post %> -->
                </td>
                <td>
                  <%- courses[i].系所名稱 %>
                </td>
                <td>
                  <%- courses[i].老師 %>
                </td>
                <td>
                  <%- courses[i].時間 %>
                </td>
              </tr>
          <% } %>
        </table>
      </div>
    </div>
</div>


<div class="modal fade" id="course-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    /* 辨別目前用戶的清單中有哪些課程 並將該課程按鈕由加變減 */
    var carts = <%- JSON.stringify(carts) %>;
    if(carts != null ){
      for(var i in carts){
        $('#'+carts[i].course_id).removeClass('plus addcoursebtn').addClass('minus delcoursebtn');
      }
    }

    /* Ajax show course */
    function ajaxshowcourse(id){
      var ajaxurl = '/course/'+ id;
      $.ajax({
        url:ajaxurl,
        type: 'GET',
        success: function(response) {
          $('#course-modal .modal-content').prepend(response);
          $('#course-modal').data('bs.modal').handleUpdate();
        }
      });
    }

    /* Ajax choose course */
    function addcourse(courseid,btn){
      var ajaxurl = '/course/addcourse/'+ courseid;
      $.ajax({
        url:ajaxurl,
        type: 'POST',
        success: function(response) {
          if(response=='No login'){
            toastr.warning('請先登入!');
          }
          else if(response=='Already choose'){
            toastr.warning('已經選過囉!');
          }
          else{
            btn.removeClass('plus addcoursebtn').addClass('minus delcoursebtn');
            btn.off();
            btn.on('click',function(){
              var courseid = this.getAttribute("data-id");
              var btn = $(this);
              delcourse(courseid,btn);
            });
            /* 將新選的課加入用戶清單中 */
            carts.push({"course_id":parseInt(courseid)});
            toastr.success('選課成功!');
          }
        }
      });
    }

    /* Ajax del course */
    function delcourse(courseid,btn){
      var ajaxurl = '/course/delcourse/'+ courseid;
      $.ajax({
        url:ajaxurl,
        type: 'POST',
        success: function(response){
          btn.removeClass('minus delcoursebtn').addClass('plus addcoursebtn');
          btn.off();
          btn.on('click',function(){
            var courseid = this.getAttribute("data-id");
            var btn = $(this);
            addcourse(courseid,btn);
          });
          /* 將課程移出用戶清單 */
          for(var i in carts){
            if(carts[i].course_id==courseid){
              carts[i].course_id=null;
            }
          }
          toastr.success('移除成功!');
        }
      });
    }

    /* 綁定Ajaxshowcourse function */
    $('.course-row .course_name').on('click',function(){
      var courseid= this.getAttribute("data-id");
      ajaxshowcourse(courseid);
    });

    /* modal 關閉時清空 modal 內容 */
    $('#course-modal').on('hidden.bs.modal', function () {
      $('#course-modal .modal-content').empty();
      // $.fn.fullpage.destroy('all');
    });

    /* 在加號上綁定選課的事件 */
    $('.addcoursebtn').on('click',function(){
      var courseid = this.getAttribute("data-id");
      var btn = $(this);
      addcourse(courseid,btn);
    });

    /* 在減號上綁定移除課程的事件 */
    $('.delcoursebtn').on('click',function(){
      var courseid = this.getAttribute("data-id");
      var btn = $(this);
      delcourse(courseid,btn);
    });

    var courses = <%- JSON.stringify(courses) %>; //所有課程的資料
    var now_index = 50; // 起始值50筆

    $(window).scroll(function(){
        var bottomHeight = $(document).height()-$(window).height(); // 計算置底的值

        if(bottomHeight - $(window).scrollTop() == 0  && now_index <= courses.length){
          for(var i = now_index; i < now_index + 50; i++ ){
            if(i >= courses.length) break; // 大於query課程數就不在新增
            if(courses[i].get_post == 0) courses[i].get_post = "";
            var dom = "<tr id='course-" + courses[i].id + "' class='course-row'><td><i class='plus icon addcoursebtn' id='" + courses[i].id + "' data-id='" + courses[i].id + "'></i></td><td class='course_name' data-toggle='modal' data-target='#course-modal' data-id='" + courses[i].id + "'> " + courses[i].課程名稱 + " <span class='badge'>" + courses[i].get_post + "</span>" + "</td><td> " + courses[i].系所名稱 + "</td><td>" + courses[i].老師 + "</td><td> " + courses[i].時間 + "</td></tr>";

            $('#course-table').append(dom);

          }

          now_index += 50; // 每次新增50筆

          /* 將先加入的課程中用戶已選過的課符號變為減號 */
          if(carts != null ){
            for(var i in carts){
              $('#'+carts[i].course_id).removeClass('plus addcoursebtn').addClass('minus delcoursebtn');
            }
          }

          /* 綁定ajaxshowcourse function */
          $('.course-row .course_name').unbind('click').on('click', function(){
            var courseid= this.getAttribute("data-id");
            ajaxshowcourse(courseid);
          });

          /* 在加號上綁定選課的事件 */
          $('.addcoursebtn').unbind('click').on('click',function(){
            var courseid = this.getAttribute("data-id");
            var btn = $(this);
            addcourse(courseid,btn);
          });

          /* 在減號上綁定移除課程的事件 */
          $('.delcoursebtn').unbind('click').on('click',function(){
            var courseid = this.getAttribute("data-id");
            var btn = $(this);
            delcourse(courseid,btn);
          });
        }
    });

    /* modal 打開時執行 */
    $('#course-modal').on('shown.bs.modal', function () {

        /* Ajax choose course */
        function showaddcourse(courseid,btn){
          var ajaxurl = '/course/addcourse/'+ courseid;
          $.ajax({
            url:ajaxurl,
            type: 'POST',
            success: function(response) {
              if(response=='No login'){
                toastr.warning('請先登入!');
              }
              else if(response=='Already choose'){
                toastr.warning('已經選過囉!');
              }
              else{
                btn.removeClass('showaddcoursebtn').addClass('showdelcoursebtn').html("移除課程");
                btn.off();
                btn.on('click',function(){
                  var courseid = this.getAttribute("data-id");
                  var btn = $(this);
                  showdelcourse(courseid,btn);
                });
                var btn2=$('#'+courseid);
                btn2.removeClass('plus addcoursebtn').addClass('minus delcoursebtn');
                btn2.off();
                btn2.on('click',function(){
                  var courseid = btn2.getAttribute("data-id");
                  delcourse(courseid,btn2);
                });
                /* 將新選的課加入用戶清單中 */
                carts.push({"course_id":courseid});
                toastr.success('選課成功!');
              }
            }
          });
        }

        /* Ajax del course */
        function showdelcourse(courseid,btn){
          var ajaxurl = '/course/delcourse/'+ courseid;
          $.ajax({
            url:ajaxurl,
            type: 'POST',
            success: function(response){
              btn.removeClass('showdelcoursebtn').addClass('showaddcoursebtn').html("加入課程");
              btn.off();
              btn.on('click',function(){
                var courseid = this.getAttribute("data-id");
                var btn = $(this);
                showaddcourse(courseid,btn);
              });
              var btn2 = $('#'+courseid);
              btn2.removeClass('minus delcoursebtn').addClass('plus addcoursebtn');
              btn2.off();
              btn2.on('click',function(){
                var courseid = btn2.getAttribute("data-id");
                addcourse(courseid,btn2);
              });
              /* 將課程移出用戶清單 */
              for(var i in carts){
                if(carts[i].course_id==courseid){
                  carts[i].course_id=null;
                }
              }
              toastr.success('移除成功!');
            }
          });
        }
        setTimeout(function() {
          /* modal中的加入課程按鈕綁定選課的事件 */
          $('.showaddcoursebtn').on('click',function(){
            var courseid = this.getAttribute("data-id");
            var btn = $(this);
            showaddcourse(courseid,btn);
          });

          /* modal中的移除課程按鈕綁定移除課程的事件 */
          $('.showdelcoursebtn').on('click',function(){
            var courseid = this.getAttribute("data-id");
            var btn = $(this);
            showdelcourse(courseid,btn);
          });
        },2000);
    });
  });

</script>
