<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h1 class="modal-title"><%= courseInfo.課程名稱 %> -- <%- courseInfo.老師 %></h1>
</div>
<div class="modal-body">
  <div class="partA ui grid progressbarpart">
    <div class="eight wide column">
      推薦程度<div id="containerA" class="progressbar"></div><br>
      課程硬度<div id="containerB" class="progressbar"></div><br>
      分數甜度<div id="containerC" class="progressbar"></div><br>
    </div>
    <div class="eight wide column" style="text-align:right;">
      <button class="ui grey button"><%= courseInfo.系所名稱 %></button><br>
      <button class="ui grey button"><%= courseInfo.學分 %> 學分</button><br>
      <% if(courseInfo.系所名稱 == "通識中心GE"){%>
        <button class="ui grey button"><%= courseInfo.類別 %></button><br>
      <% }else if (courseInfo.備註 != ""){%>
      <button class="ui grey button"><%= courseInfo.備註 %></button><br>
      <% } %>
      <button class="ui grey button showaddcoursebtn" id="show<%= courseInfo.id %>" data-id="<%= courseInfo.id %>">加入課程</button>
    </div>
  </div>
  <div class="partB">
    <div class="partB_button">
      <button class="ui button content1" onclick="moveAnimate('content1')">修課心得
        <% if(courseInfo.comment != 0){%>
          &nbsp;&nbsp;<span class="badge"><%= courseInfo.comment %></span>
        <% }%>
      </button>
      <button class="ui button content2" onclick="moveAnimate('content2')">上課內容
        <% if(courseInfo.course_style != 0){%>
          &nbsp;&nbsp;<span class="badge"><%= courseInfo.course_style %></span>
        <% }%>
      </button>
      <button class="ui button content3" onclick="moveAnimate('content3')">作業考試
        <% if(courseInfo.report_hw != 0){%>
          &nbsp;&nbsp;<span class="badge"><%= courseInfo.report_hw %></span>
        <% }%>
      </button>
      <button class="ui button content4" onclick="moveAnimate('content4')">得分比重
      </button>
    </div>
    <div id="content1" style="display:block;">
      <% if(courseInfo.comment == 0){%>
        <br>
        <h1 style="text-align: center">尚無內容</h1>
      <%}else { for(var i = 0; i < courseInfo.comment; i++){ %>
        <div class="ui vertical segment">
          <p>[<%- comment[i].semester %>]</p>
          <p><%- comment[i].comment %></p>
          <div class="small ui button reportbtn" data-id="<%= comment[i].id %>">檢舉心得</div>
        </div>
      <% } }%>
    </div>
    <div id="content2" style="display: none;">
      <% if(courseInfo.course_style == 0){%>
        <br>
        <h1 style="text-align: center">尚無內容</h1>
      <%}else { for(var i = 0; i < courseInfo.course_style; i++){ %>
        <div class="ui vertical segment">
          <p>[<%- comment[i].semester %>]</p>
          <p><%- comment[i].course_style %></p>
        </div>
      <% } }%>
    </div>
    <div id="content3" style="display: none;">
      <% if(courseInfo.report_hw == 0){%>
        <br>
        <h1 style="text-align: center">尚無內容</h1>
      <%}else { for(var i = 0; i < courseInfo.report_hw; i++){ %>
        <div class="ui vertical segment">
          <p>[<%- comment[i].semester %>]</p>
          <p><%- comment[i].report_hw %></p>
        </div>
      <% } }%>
    </div>
    <div id="content4" style="display: none;">
      <% if(courseInfo.score_style == 0){%>
        <br>
        <h1 style="text-align: center">尚無內容</h1>
      <%} else { for(var i = 0; i < courseInfo.score_style; i++){ %>
        <div class="ui vertical segment">
          <p>[<%- comment[i].semester %>]</p>
          <p><%- comment[i].score_style %></p>
        </div>
      <% } }%>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  /* Ajax Report post */
  $('.reportbtn').on('click',function(){
    var postid = this.getAttribute("data-id");
    $.ajax({
      url: '/post/report/'+postid,
      type: 'POST',
      success: function(response) {
        if(response=="Success"){
          toastr.success('檢舉成功!');
        }
        else if(response=="Already report"){
          toastr.success('已經檢舉過囉!');
        }
        else{
          toastr.warning('請先登入');
        }
      }
    });
  });

  /* draw progress bar */
  var barA = new ProgressBar.Line(containerA, {
  strokeWidth: 4,
  easing: 'easeInOut',
  duration: 1400,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '100%', height: '100%'},
  text: {
    style: {
        color: '#999',
        position:'relative',
        top:'-10px',
        right:'0px',
        padding: 0,
        margin: 0,
        transform: null
      },
      autoStyleContainer: false
    },
    from: {color: '#FFEA82'},
    to: {color: '#ED6A5A'},
    step: (state, bar) => {
      var value = Math.round(bar.value() * 100)/10;
      bar.setText(value);
    }
  });
  barA.animate(1.0);
  var barB = new ProgressBar.Line(containerB, {
  strokeWidth: 4,
  easing: 'easeInOut',
  duration: 1400,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '100%', height: '100%'},
  text: {
    style: {
        color: '#999',
        position:'relative',
        top:'-10px',
        right:'0px',
        padding: 0,
        margin: 0,
        transform: null
      },
      autoStyleContainer: false
    },
    from: {color: '#FFEA82'},
    to: {color: '#ED6A5A'},
    step: (state, bar) => {
      var value = Math.round(bar.value() * 100)/10;
      bar.setText(value);
    }
  });
  barB.animate(0.2);
  var barC = new ProgressBar.Line(containerC, {
  strokeWidth: 4,
  easing: 'easeInOut',
  duration: 1400,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '100%', height: '100%'},
  text: {
    style: {
        color: '#999',
        position:'relative',
        top:'-10px',
        right:'0px',
        padding: 0,
        margin: 0,
        transform: null
      },
      autoStyleContainer: false
    },
    from: {color: '#FFEA82'},
    to: {color: '#ED6A5A'},
    step: (state, bar) => {
      var value = Math.round(bar.value() * 100)/10;
      bar.setText(value);
    }
  });
  barC.animate(0.52);
});

function moveAnimate(next){
  var nextContent = next;
  var currentContent;
  var content = $(".partB div");
  for(var i in content){
    if(content[i].style.display == "block"){
      currentContent = content[i].id;
      break;
    }
  }
  console.log(Number(currentContent.replace(/\D/g, "")));
  console.log(Number(nextContent.replace(/\D/g, "")));
  if(currentContent == nextContent){
    return 0;
  }else if (Number(currentContent.replace(/\D/g, "")) < Number(nextContent.replace(/\D/g, ""))){
    console.log("out_left");

    $('#' + currentContent).addClass('animated fadeOutLeft').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){
      document.getElementById(nextContent).style.display='block';
      document.getElementById(currentContent).style.display='none';
      $('#' + nextContent).addClass('animated fadeInRight').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){
          $('#' + currentContent).removeClass();
          $('#' + nextContent).removeClass();
      });
    });
  }else{
    console.log("out_right");
    $('#' + currentContent).addClass('animated fadeOutRight').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){
      document.getElementById(nextContent).style.display='block';
      document.getElementById(currentContent).style.display='none';
      $('#' + nextContent).addClass('animated fadeInLeft').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){
          $('#' + currentContent).removeClass();
          $('#' + nextContent).removeClass();
      });
    });
  }
}

</script>
