<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h1 class="modal-title"><%= courseInfo.課程名稱 %> -- <%= courseInfo.老師 %></h1>
</div>
<div class="modal-body">
  <div class="partA ui grid progressbarpart">
    <div class="eight wide column">
      推薦程度<div id="containerA" class="progressbar"></div><br>
      課程硬度<div id="containerB" class="progressbar"></div><br>
      分數甜度<div id="containerC" class="progressbar"></div><br>
      <p>評分比數:<%= rate_count %></p>
    </div>
    <div class="eight wide column" style="text-align:right;">
      <div class="ui label " style="margin-bottom:10px;"><%= courseInfo.系所名稱 %> - <%= courseInfo.選課序號 %></div><br>
      <div class="ui label" style="margin-bottom:10px;"><%= courseInfo.學分 %> 學分</div><br>
      <% if(courseInfo.系所名稱 == "通識中心GE"){%>
        <div class="ui label" style="margin-bottom:10px;"><%= courseInfo.類別 %></div><br>
      <% }else if (courseInfo.備註 != ""){%>
        <div class="ui label" style="margin-bottom:10px;"><%= courseInfo.備註 %></div><br>
      <% } %>
      <!--
      <% if(check !=null && check.length != 0){ %>
        <button class="ui grey button showdelcoursebtn" data-id="<%= courseInfo.id %>">移除課程</button><br>
      <% }else{ %>
        <button class="ui grey button showaddcoursebtn" data-id="<%= courseInfo.id %>">加入課程</button><br>
      <% } %>
      -->
      <button class="ui blue button" onclick="window.open('http://class-qry.acad.ncku.edu.tw/syllabus/online_display.php?syear=0106&sem=2&co_no=<%= courseInfo.課程碼 %>&class_code=<%= courseInfo.分班碼 %>')" config='height = N,width = N'>課程大綱</button><br>
      <% if(courserate_id == 0){ %>
        <button class="ui blue button showcourseratebtn" data-id="<%= courseInfo.id %>" data-name="<%= courseInfo.課程名稱 %>" data-teacher="<%= courseInfo.老師 %>">評分課程</button>
      <% }else{ %>
        <button class="ui red button delcourseratebtn" data-id="<%= courseInfo.id %>" data-rateid="<%= courserate_id %>">刪除評分</button>
      <% } %>
    </div>
  </div>
  <div class="partA courseratepart"></div>
  <div class="partB">
    <div class="partB_button" style="margin-bottom:10px;">
      <button class="ui button content1" onclick="moveAnimate('content1')" style="padding:10px 8px;">修課心得
        <% if(courseInfo.comment != 0){%>
          &nbsp;&nbsp;<span class="badge"><%= courseInfo.comment %></span>
        <% }%>
      </button>
      <button class="ui button content2" onclick="moveAnimate('content2')" style="padding:10px 8px;">上課內容
        <% if(courseInfo.course_style != 0){%>
          &nbsp;&nbsp;<span class="badge"><%= courseInfo.course_style %></span>
        <% }%>
      </button>
      <button class="ui button content3" onclick="moveAnimate('content3')" style="padding:10px 8px;">作業考試
        <% if(courseInfo.report_hw != 0){%>
          &nbsp;&nbsp;<span class="badge"><%= courseInfo.report_hw %></span>
        <% }%>
      </button>
      <button class="ui button content4" onclick="moveAnimate('content4')" style="padding:10px 8px;">得分比重
        <% if(courseInfo.score_style != 0){%>
          &nbsp;&nbsp;<span class="badge"><%= courseInfo.score_style %></span>
        <% }%>
      </button>
    </div>
    <div id="content1" style="display:block;">
      <% if(courseInfo.comment == 0){%>
        <br>
        <h1 style="text-align: center">尚無內容</h1>
        <div class="courseaddpost ui button">提供心得</div>
      <%}else { for(var i = 0; i < courseInfo.comment; i++){ %>
        <% if(typeof comment[i].comment !== 'undefined' && comment[i].comment !== '無' ){%>
        <div class="ui vertical segment">
          <p>[<%= comment[i].semester %>]</p>
          <p><%- comment[i].comment %></p>
          <br>
          <div class="ui red dropdown button">檢舉文章
            <div class="menu">
              <div class="item reportbtn" data-id="<%= comment[i].id %>" data-type="A">不實內容</div>
              <div class="item reportbtn" data-id="<%= comment[i].id %>" data-type="B">辱罵</div>
            </div>
          </div>
        </div>
      <%} } }%>
    </div>
    <div id="content2" style="display: none;">
      <% if(courseInfo.course_style == 0){%>
        <br>
        <h1 style="text-align: center">尚無內容</h1>
        <div class="courseaddpost ui button">提供心得</div>
      <%}else { for(var i = 0; i < courseInfo.course_style; i++){ %>
        <% if(typeof comment[i].course_style !== 'undefined' && comment[i].comment !== '無'){%>
        <div class="ui vertical segment">
          <p>[<%= comment[i].semester %>]</p>
          <p>
            <%- comment[i].course_style %>
          </p>
          <br>
          <div class="ui red dropdown button">檢舉文章
            <div class="menu">
              <div class="item reportbtn" data-id="<%= comment[i].id %>" data-type="A">不實內容</div>
              <div class="item reportbtn" data-id="<%= comment[i].id %>" data-type="B">辱罵</div>
            </div>
          </div>
        </div>
      <%} } }%>
    </div>
    <div id="content3" style="display: none;">
      <% if(courseInfo.report_hw == 0){%>
        <br>
        <h1 style="text-align: center">尚無內容</h1>
        <div class="courseaddpost ui button">提供心得</div>
      <%}else { for(var i = 0; i < courseInfo.report_hw; i++){ %>
        <% if(typeof comment[i].report_hw !== 'undefined' && comment[i].comment !== '無'){%>
        <div class="ui vertical segment">
          <p>[<%= comment[i].semester %>]</p>
          <p><%- comment[i].report_hw %></p>
          <br>
          <div class="ui red dropdown button">檢舉文章
            <div class="menu">
              <div class="item reportbtn" data-id="<%= comment[i].id %>" data-type="A">不實內容</div>
              <div class="item reportbtn" data-id="<%= comment[i].id %>" data-type="B">辱罵</div>
            </div>
          </div>
        </div>
      <%} } }%>
    </div>
    <div id="content4" style="display: none;">
      <% if(courseInfo.score_style == 0){%>
        <br>
        <h1 style="text-align: center">尚無內容</h1>
        <div class="courseaddpost ui button">提供心得</div>
      <%} else { for(var i = 0; i < courseInfo.score_style; i++){ %>
        <% if(typeof comment[i].score_style !== 'undefined' && comment[i].comment !== '無'){%>
        <div class="ui vertical segment">
          <p>[<%= comment[i].semester %>]</p>
          <%- comment[i].score_style %>
          <br>
          <div class="ui red dropdown button">檢舉文章
            <div class="menu">
              <div class="item reportbtn" data-id="<%= comment[i].id %>" data-type="A">不實內容</div>
              <div class="item reportbtn" data-id="<%= comment[i].id %>" data-type="B">辱罵</div>
            </div>
          </div>
        </div>
      <%} } }%>
    </div>
  </div>
</div>
<script src="/assets/js/hammer.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  ga('send', 'pageview','/course/<%= courseInfo.id %>');
  ga('send', 'event', '<%= courseInfo.課程名稱 %>','<%= courseInfo.老師 %>');
  $('.courseaddpost').on('click',function(){
    localStorage.setItem('coursename','<%= courseInfo.課程名稱 %>');
    localStorage.setItem('courseid','<%= courseInfo.id %>');
    localStorage.setItem('courseteacher','<%= courseInfo.老師 %>');
    window.location.href = "/post/new";
  });
  // 將mobile的滑動效果裝上
  var content1 = document.getElementById('content1');
  var content2 = document.getElementById('content2');
  var content3 = document.getElementById('content3');
  var content4 = document.getElementById('content4');
  var content1m = new Hammer(content1);
  var content2m = new Hammer(content2);
  var content3m = new Hammer(content3);
  var content4m = new Hammer(content4);
  content1m.on("panleft",function(){
    moveAnimate("content2");
  });
  content2m.on("panright",function(){
    moveAnimate("content1");
  });
  content2m.on("panleft",function(){
    moveAnimate("content3");
  });
  content3m.on("panright",function(){
    moveAnimate("content2");
  });
  content3m.on("panleft",function(){
    moveAnimate("content4");
  });
  content4m.on("panright",function(){
    moveAnimate("content3");
  });

  $('.dropdown').dropdown({direction: 'upward'});

  /* Ajax Report post */
  $('.reportbtn').on('click',function(){
    var postid = this.getAttribute("data-id");
    var type = this.getAttribute("data-type");
    $.ajax({
      url: '/post/report/'+postid+"?type="+type,
      type: 'POST',
      success: function(response) {
        if(response=="Success"){
          toastr.success('檢舉成功!');
        }
        else if(response=="Already report"){
          toastr.success('已經檢舉過囉!');
        }
        else{
          toastr.warning('<a href="/user/auth/facebook">請先登入</a>');
        }
      }
    });
  });

  $('.showcourseratebtn').on('click',function(){
    var courseid = this.getAttribute("data-id");
    var btn = $(this);
    $.ajax({
      url: '/course_rate/new/'+courseid+"?course_name=<%= courseInfo.課程名稱 %>&teacher=<%= courseInfo.老師 %>",
      type: 'GET',
      success: function(response) {
        if(response=="No login"){
          toastr.warning('<a href="/user/auth/facebook">請先登入</a>');
        }
        else{
          btn.hide();
          $('.courseratepart').append(response);
        }
      }
    });
  });

  $('.delcourseratebtn').on('click',function(){
    var courserateid = this.getAttribute("data-rateid");
    var courseid = this.getAttribute("data-id");
    $.ajax({
      url: '/course_rate/'+courserateid,
      type: 'DELETE',
      success: function(response) {
        if(response=="Success"){
          $('#course-modal .sr-only').click();
          $('#course-'+courseid).click();
        }
      }
    });
  });

  /* draw progress bar */
  var barA = new ProgressBar.Line(containerA, {
  strokeWidth: 4,
  easing: 'easeInOut',
  duration: 1400,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '100%', height: '100%'},
  text: {
    style: {
        color: '#999',
        position:'relative',
        top:'-10px',
        right:'0px',
        padding: 0,
        margin: 0,
        transform: null
      },
      autoStyleContainer: false
    },
    from: {color: '#FFEA82'},
    to: {color: '#ED6A5A'},
    step:function(state, bar){
      var value = Math.round(bar.value() * 100)/10;
      bar.setText(value);
    }
  });
  barA.animate(<%= recommand/10 %>);
  var barB = new ProgressBar.Line(containerB, {
  strokeWidth: 4,
  easing: 'easeInOut',
  duration: 1400,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '100%', height: '100%'},
  text: {
    style: {
        color: '#999',
        position:'relative',
        top:'-10px',
        right:'0px',
        padding: 0,
        margin: 0,
        transform: null
      },
      autoStyleContainer: false
    },
    from: {color: '#FFEA82'},
    to: {color: '#ED6A5A'},
    step:function(state, bar){
      var value = Math.round(bar.value() * 100)/10;
      bar.setText(value);
    }
  });
  barB.animate(<%= hard/10 %>);
  var barC = new ProgressBar.Line(containerC, {
  strokeWidth: 4,
  easing: 'easeInOut',
  duration: 1400,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '100%', height: '100%'},
  text: {
    style: {
        color: '#999',
        position:'relative',
        top:'-10px',
        right:'0px',
        padding: 0,
        margin: 0,
        transform: null
      },
      autoStyleContainer: false
    },
    from: {color: '#FFEA82'},
    to: {color: '#ED6A5A'},
    step:function(state, bar){
      var value = Math.round(bar.value() * 100)/10;
      bar.setText(value);
    }
  });
  barC.animate(<%= sweet/10 %>);
});


  function moveAnimate(next){
    var nextContent = next;
    var currentContent;
    var content = $(".partB div");
    for(var i in content){
      if(content[i].style.display == "block"){
        currentContent = content[i].id;
        break;
      }
    }
    if(currentContent == nextContent){
      return 0;
    }else if (Number(currentContent.replace(/\D/g, "")) < Number(nextContent.replace(/\D/g, ""))){

      $('#' + currentContent).addClass('animated fadeOutLeft').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){
        document.getElementById(nextContent).style.display='block';
        document.getElementById(currentContent).style.display='none';
        $('#' + nextContent).addClass('animated fadeInRight').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){
            $('#' + currentContent).removeClass();
            $('#' + nextContent).removeClass();
        });
      });
    }else{
      $('#' + currentContent).addClass('animated fadeOutRight').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){
        document.getElementById(nextContent).style.display='block';
        document.getElementById(currentContent).style.display='none';
        $('#' + nextContent).addClass('animated fadeInLeft').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',function(){
            $('#' + currentContent).removeClass();
            $('#' + nextContent).removeClass();
        });
      });
    }
  }
</script>
